{{- if .Site.Params.authorbox }}
    {{ if and (isset .Params "authors") (ne .Params.authors nil) }}
		{{ $authors := index .Site.Data.authors .Params.authors }}
		{{ if $authors }}
			<div class="authorbox clearfix">
				{{- with $authors.image }}
					<figure class="authorbox__avatar">
						<img alt="{{ $authors.name }} avatar" src="{{ . | relURL }}" class="avatar" height="90" width="90">
					</figure>
				{{- end }}
				{{- with $authors.name }}
					<div class="authorbox__header">
						<span class="authorbox__name">{{ . }}</span>
					</div>
                {{- end }}
                {{ partial "member_social" $authors }}
				{{- with $authors.bio }}
					<div class="authorbox__description">
						{{ . }}
					</div>
                {{- end }}
			</div>
		{{ end }}
	{{- end }}
{{- end }}